.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.dialog {
  position: fixed !important;
  top: 5%;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  border: solid 3px #1D1F23;
  background-color: #282b32;
  -webkit-box-shadow: 
              0 0 2px 1px rgba(0, 0, 0, .8),
              0 5px 25px 10px rgba(0, 0, 0, 0.25), 
              0 -1px 1px rgba(170, 184, 217, 0.15) inset;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8),
              0 5px 25px 10px rgba(0, 0, 0, 0.25), 
              0 -1px 1px rgba(170, 184, 217, 0.15) inset;
}

.dialog.ui-draggable {
  margin-left: 0;
}

.dialog.ui-draggable-dragging .dialog-content {
  cursor: move;
}

.dialog .dialog-content {
  margin: 4px;
  padding: 10px 10px 10px 10px;
  font-size: 110%;
}

.dialog .dialog-content input[type=text],
.dialog .dialog-content input[type=password],
.dialog .dialog-content input[type=email],
.dialog .dialog-content input[type=number],
.dialog .dialog-content input[type=pattern],
.dialog .dialog-content input[type=url],
.dialog .dialog-content select,
.dialog .dialog-content textarea {
  margin: 5px 0;
  display: block;
}

.dialog .dialog-controls {
  padding: 10px 10px 10px;
  text-align: center;
}

.dialog .dialog-controls button {
  display: inline-block;
  padding: 5px 9px;
  min-width: 90px;
}

.dialog .dialog-controls button:last-child {
  margin-right: 0;
}
