html {
  background-color: #FFF8F5;
}

body {
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 16px;
  color: #000;
}

header, article, section, footer {
  padding: 0 30px;
}

header, article, section {
  margin-bottom: 30px;
}

header {
  background-color: #240C00;
  padding: 30px;
}

header h1 {
  font-size: 200%;
  color: #CDA28F;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .15), 0 0 1px black;
}

article h1 {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  padding: 7px 30px;
  width: 100%;
  font-size: 70%;
  color: #444;
  position: fixed;
  bottom: 0;
  background-color: #BFB8B5;
}


/* Sequencer styles */
#transport {
  margin-bottom: 30px;
}


th, td {
  border-right: solid 1px #000;
  border-bottom: dotted 1px #AAA;
  vertical-align: middle;
  height: 35px;
}

th {
  padding: 0 5px;
  text-align: left;
  border-bottom: solid 1px black;
  border-right-width: 2px;
  vertical-align: middle;
}

th button.replace, th button.remove {
  float: right;
  margin: 0 0 0 5px
}

th input[type=checkbox] {
  margin-right: 10px;
}

tr th input[type=text] {
  position: relative;
  z-index: 1;
}

tr th label, tr th input[type=text] {
  margin-left: 10px;
}

tr.triggered th {
  border-right-color: red;
  background-color: #FDD;
}

tr.flash th {
  -webkit-transition:  100ms linear;
  transition: 100ms linear;
}

tr th canvas {
  position: relative;
  cursor: ns-resize;
  z-index: 2;
  top: 4px;
}

td {
  padding: 0 10px;
}

td:nth-child(even) {
  background-color: #E5E5E5;
}

.step {
  width: 25px;
  height: 25px;
  margin: 0 1px;
  float: left;
  border: solid 1px black;
  text-align: center;
  line-height: 25px;
  border-radius: 7px;
}

.step.on {
  background-color: #000;
}

.step.triggered {
  background-color: #FFC;
}

.step.triggered.on {
  border-color: red;
  background-color: red;
}

.step.flash {
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}


tr.disabled th {
  color: #AAA;
}

tr.disabled th canvas, tr.disabled th input[type=text] {
  opacity: 0.3;
}

tr.disabled .step, tr.disabled .step.triggered {
  border-color: #AAA;
  background-color: transparent;
}

tr.disabled .step.on, tr.disabled .step.on.triggered {
  background-color: #AAA;
}

