@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
  background-color: #2D3546;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #C3C9D9;
}

header, article, section, footer {
  padding: 0 30px;
}

header, article, section {
  margin-bottom: 30px;
}

header {
  background-color: #000615;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .8),
              0 -1px rgba(195, 201, 217, .12) inset;
}

header h1 {
  font-size: 150%;
  color: #AAB8D9;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .15), 0 0 1px black;
}

article h1 {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  padding: 7px 30px;
  width: 100%;
  font-size: 70%;
  color: #444;
  position: fixed;
  bottom: 0;
  background-color: #BFB8B5;
}


/* Sequencer styles */
#transport, #trackmanager {
  margin-bottom: 20px;
}

#transport label {
  margin-left: 15px;
  line-height: 35px;
}

#transport input[type=text] {
  width: 30px;
}

button, input[type=text], input[type=number] {
  background-color: #1D1F23;
  color: #C3C9D9;
  border: none;
  font-size: 122%;
  line-height: 37px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
}

button {
  padding: 9px;
  margin: 0 10px 0 0;
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8),
              0 -2px 0 rgba(0, 0, 0, .5) inset;
  position: relative;
  text-shadow: 0 -2px 1px rgba(0, 0, 0, .85);
}

button:hover {
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8),
              inset 0 -2px 0 rgba(0, 0, 0, .7);
  text-shadow: 0 0 7px rgba(195, 201, 217, .3);
  color: #FFF;
  background-color: #1F2125;
}

button:active {
  color: #999;
  background-color: #111;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .4),
              0 -1px 0 rgba(0, 0, 0, .7) inset;
  top: 1px;
}

#transport button {
  width: 34px;
}


#transport label {
  font-size: 122%;
}


th, td {
  border-right: solid 1px #000;
  border-bottom: dotted 1px #AAA;
  vertical-align: middle;
  height: 35px;
}

th {
  padding: 0 5px;
  text-align: left;
  border-bottom: solid 1px black;
  border-right-width: 2px;
  vertical-align: middle;
}

th button.replace, th button.remove {
  float: right;
  margin: 0 0 0 5px
}

th input[type=checkbox] {
  margin-right: 10px;
}

tr th input[type=text] {
  position: relative;
  z-index: 1;
}

tr th label, tr th input[type=text] {
  margin-left: 10px;
}

tr.triggered th {
  border-right-color: red;
  background-color: #FDD;
}

tr.flash th {
  -webkit-transition:  100ms linear;
  transition: 100ms linear;
}

tr th canvas {
  position: relative;
  cursor: ns-resize;
  z-index: 2;
  top: 4px;
}

td {
  padding: 0 5px;
}

td:nth-child(even) {
  background-color: #E5E5E5;
}

td.measure-even {
  background-color: #CCC;
}

td.measure-even:nth-child(odd) {
  background-color: #C5C5C5;
}

.step {
  width: 15px;
  height: 25px;
  margin: 0 1px;
  float: left;
  border: solid 1px black;
  text-align: center;
  line-height: 25px;
  border-radius: 4px;
}

.step.on {
  background-color: #000;
}

.step.triggered {
  background-color: #FFC;
}

.step.triggered.on {
  border-color: red;
  background-color: red;
}

.step.flash {
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}


tr.disabled th {
  color: #AAA;
}

tr.disabled th canvas, tr.disabled th input[type=text] {
  opacity: 0.3;
}

tr.disabled .step, tr.disabled .step.triggered {
  border-color: #AAA;
  background-color: transparent;
}

tr.disabled .step.on, tr.disabled .step.on.triggered {
  background-color: #AAA;
}

